bcrypt              
blinker             
build              
click   
dotenv
Flask  
flask_cors  
Flask-JWT-Extended  
flask-marshmallow  
Flask-Migrate       
Flask-SQLAlchemy    
greenlet    
gunicorn                      
importlib_metadata
importlib_resources 
itsdangerous        
Jinja2              
Mako                
MarkupSafe          
marshmallow    
marshmallow-sqlalchemy      
packaging         
pip                
pip-tools 
psycopg2  
psycopg2-binary     
PyJWT                    


